@mixin loginContainer-style {
    display: block;
    text-align: center;
    flex-direction: row;
    width: 50%;
    margin: 200px auto;
    background-color: darkblue;
    border-radius: 30px;
    padding: 40px 40px 70px 40px;

    .loginInput {
        margin-bottom: 30px;
        width: 300px;
        height: 45px;
        border-radius: 100px;
        border: none;
        font-size: 22px;
        font-style: italic;
        padding: 0px 15px;
        &::placeholder {
            color: lightgrey;
        }
    }

    .loginHeader {
        padding: 30px 0;
    }

    .btn {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        cursor: pointer;
    }
    .loginError {
        margin-top: 20px;
        color: orangered;
    }
}

.darkLoginContainer {
    @include loginContainer-style;
    background-color: darkblue;

    .btn {
        background-color: black;
    }
}

.lightLoginContainer {
    @include loginContainer-style;
    background-color: lightseagreen;

    .loginInput {
        background-color: white;
        color: black;
    }
    .btn {
        background-color: white;
        color: black;
        :hover {
            border: 1px solid black;
        }
    }
}